.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.75rem;
  height: 1.75rem;
}

.greybar {
  width: 100%;
  background: #f2f2f2;
  border: var(--primaryColor) 1px solid;
}

.name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  color: var(--primaryColor);
  border: var(--primaryColor) 1px solid;
  width: 4.5rem;
  padding: 2.5px 0.4rem;
}

.logo {
  height: 100%;
  // text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1rem;
}

.bar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0.5rem;
  color: var(--textColorLight);
  background: var(--primaryColor);
}
