.skillsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0rem;
  background: #f5f5f5;

  h1 {
    margin-bottom: 0.5rem;
    &::after {
      content: "";
      display: block;
      width: 60%;
      height: 4px;
      background: #3b3b3b;
      margin: 0.5rem auto 3rem auto;
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0vh 1vw;

    .skill {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1vw 0vh;
      width: 47vw;
      border-radius: 20px;
      // border: 2px dashed var(--primaryColor);
      box-shadow: 0 0 7.5px lightgrey; // var(--primaryColor);

      .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2rem;
        text-align: center;

        .fa {
          color: var(--primaryColor);
          font-size: 1.75rem;
          margin-right: 0.75rem;
        }
      }

      .skillBars {
        padding: 2rem;
        width: 80%;
      }
    }
  }
}
