.example {
  position: absolute !important;
  background: blue;
}

// CONTACT

.contactContainer {
  background: transparent;
  height: 100vh;
  color: var(--textColorLight);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.contactForm h2::after {
  content: "";
  display: block;
  width: 60%;
  height: 4px;
  background: var(--textColorLight);
  margin: 0.5rem auto 0rem auto;
}

.contactForm h5 {
  margin: 1rem auto 0.5rem auto;
}

.contactContainer > input:hover {
  background: var(--primaryColor);
}

.contactFields {
  margin: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vh;
  margin: 0px;
}

.contactFields > * {
  margin: 0.2rem;
  width: 100%;
  background: transparent;
  border: 1px solid var(--primaryColor);
  border-radius: 5px;
  color: #fff;
  padding: 5px 8px 5px 8px;
  margin: 8px;
  outline: none;
}

.contactFields > *::placeholder {
  color: #7f7f7f;
}

.contactFields > input:focus,
.contactFields > textarea:focus {
  box-shadow: 0 0 7.5px var(--primaryColor);
}

.textArea {
  height: 8rem;
}

.submit {
  // submit button
  color: var(--textColorLight);
  background: transparent;
  border: 1px solid var(--primaryColor);
  border-radius: 0px;
  padding: 7.5px;
  width: 5rem;
  transition: 0.5s;
  // margin: 8px;
  cursor: pointer;
  align-self: flex-end;
}

.submit:hover {
  background: var(--primaryColor);
}

// FOOTER

html {
  scroll-behavior: smooth;
}

.date {
  margin: auto 0px;
}

.upArrow {
  transition: 0.25s;
  color: #000;
  cursor: pointer;
}

// .upArrow:hover {
//   color: #3b3b3b;
// }

.socialMedia {
  margin: auto 0px;
}

.socialMedia li {
  margin: 0 0 0 15px;
  display: inline-block;
  text-transform: uppercase;
}

.socialMedia li a {
  border: solid var(--textColorLight) 1px;
  border-radius: 50%;
  transition: 0.5s;
}

.socialMedia li a:hover {
  border-radius: 0%;
}

//////////////

.footerContainer {
  display: flex;
  background: var(--primaryColor);
  color: #fff;
  padding: 16px;
}

.footerLeft.innerWrapper,
.footerRight.innerWrapper {
  flex: 1;
  display: flex;
  min-width: -webkit-min-content; /* Workaround to Chrome bug */
}
.footerRight.innerWrapper {
  justify-content: flex-end;
}
