.showcase {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--textColorLight);
  padding: 0 20px;
  overflow: hidden;

  & .bottomLeft {
    position: absolute;
    display: inline;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 1rem 1rem;
  }

  & .bottomRight {
    position: absolute;
    display: inline;
    bottom: 0;
    right: 0;
    z-index: 2;
    padding: 1rem 1rem;
    margin: 0px;

    & > li {
      margin: 0 0 0 15px;
      display: inline-block;
      text-transform: uppercase;

      & > a {
        border: 1px solid var(--primaryColor);
        border-radius: 50%;
        transition: 0.5s;

        &:hover {
          // background: #f92672;
          border-radius: 0%;
        }
      }
    }
  }

  .content {
    z-index: 2;
    & h1 {
      font-weight: 300;
      font-size: 60px;
      line-height: 1.2;
      margin-bottom: 15px;
    }
  }
}

.Typewriter__cursor {
  display: none;
}

.typer > * {
  display: inline;
}

.videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  & iframe {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }

  & video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }

  &:after {
    content: "";
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--tertiaryColor);
    position: absolute;
  }
}

// .btn {
//   display: inline-block;
//   padding: 10px 30px;
//   background: var(--primary-color);
//   color: var(--textColorLight);
//   border-radius: 5px;
//   border: solid var(--textColorLight) 1px;
//   margin-top: 25px;
//   opacity: 0.7;

//   &:hover {
//     transform: scale(0.98);
//   }

//   & a {
//     text-decoration: none;
//     color: var(--primary-color);
//   }
// }
